html {
}
a:link, a:visited {
    text-decoration:none;
    color: #00E;
}
a:hover {
}

#greeting {
    width:320px;
    margin:0px auto;
    position:relative;
}

#greeting pre {
    background-color: #F4F4FE;
    font-family: 'Lucida Console', Monaco, monospace;
}

#explanation {
    font-size: 8pt;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    position:absolute;
    bottom:0;
}

#fourohfourdiv {
    width:575px;
    margin:auto;
}

